@model Lanche
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="img-thumbnail">
        <img src=@Model.ImagemUrl class="img-fluid" />
    </div>
    <div class="figure-caption">
        <h3 class="text-right">@Model.Preco.ToString("c")</h3>
        <h3>
            <a asp-controller="Lanche" asp-action="Details" asp-route-lancheId="@Model.LancheId">@Model.Nome</a>
        </h3>
        <p>@Model.DescricaoCurta</p>
        <div class="addToCart text-right">
            <p class="button ">
                <a class="btn btn-primary" id="cartButton" asp-controller="CarrinhoCompra" asp-action="AdicionarItemNoCarrinhoCompra" asp-route-lancheId="@Model.LancheId">
                    Incluir no Carrinho
                </a>
            </p>
        </div>
    </div>
</div>